<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Java Learn. Pet Project</title>
    <meta content="Blueprint: Horizontal Drop-Down Menu" name="description"/>
    <meta content="horizontal menu, microsoft menu, drop-down menu, mega menu, javascript, jquery, simple menu"
          name="keywords"/>
    <meta content="Codrops" name="author"/>
    <link href="../favicon.ico" rel="shortcut icon">
    <link href="css/default.css" rel="stylesheet" type="text/css"/>
    <link href="css/component.css" rel="stylesheet" type="text/css"/>
    <script src="js/modernizr.custom.js"></script>

</head>
<body>
            <div class="container">
                <header class="clearfix">
                </header>
                <div class="main">
                    <nav class="cbp-hrmenu" id="cbp-hrmenu">
                        <ul>
                            <li>
                                <a href="#">Java</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="java.html"><h3 class="whiteTextOverride">General Info</h3></a></h4>
                                        </div>
                                        <div class="cbp-hrsub-inner"> <h4><a href="javaClass.html"><h3 class="whiteTextOverride">Clase</h3></a></h4>
                                            <ul>
                                                <li><h6><a href="claseVariblesMainGeneraInfo.html"><h6>Variabile</h6></a></h6></li>
                                                <ul>
                                                    <li><a href="claseVariabilePrimitive.html">- Primitive</a></li>
                                                    <ul>
                                                        <li><a href="claseVariabilePrimitiveByte.html">•Byte</a></li>
                                                    </ul>
                                                    <li><a href="#">- Cu referință</a></li>
                                                    <ul>
                                                        <li><a href="claseVariabileReferintaAutoBox_Unbox.html">•Autoboxing/Unboxing</a></li>
                                                    </ul>
                                                </ul>
                                                <li><h6><a href="classConstructor.html"><h6>Constructor</h6></a></h6></li>
                                                <li><h6><a href="claseMetode.html"><h6>Metode</h6></a></h6></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="OOPGeneralInfo.html">OOP</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="OOPGeneralInfo.html"><h3 class="whiteTextOverride">Date generale</h3></a>
                                            </h4>
                                        </div>
                                        <div>
                                            <h4>Data Structure</h4>
                                            <ul>
                                                <li><a href="OOPStrucDataStack.html">Stack</a></li>
                                                <li><a href="#">Queque</a></li>
                                                <li><a href="#">Heap</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4><a href="OOPincapsulare.html"><h3 class="whiteTextOverride">Incapsulare</h3></a></h4>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#">Interview</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="interviewQuestion.html"><h3 class="whiteTextOverride">Questions</h3></a>
                                            </h4>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section" id="variabile_primitive">Variabile de tip primitiv</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                                <p>Variabilele primitive se stochează in <a href="OOPStrucDataStack.html#stack">stack</a>.</p>
                                <p>• Un bit este o unitate de informație, care poate avea doar două valori: 0 sau
                                    1. </p>
                                <p>• In Java există 8 tipuri de variabile primitive, care sunt: byte, short, int, long,
                                    float, double, boolean si char.</p>
                                <p>• Un <a href="claseVariabilePrimitiveByte.html#byte">byte</a> este o unitate de
                                    informație, care poate avea 256 valori diferite. De la -128 la 127.</p>
                                <p>• Un short este o unitate de informație, care poate avea 65536 valori diferite. De la
                                    -32768 la 32767. Se folosesc mai des când este nevoie de salvat memorie in lucrul cu
                                    tablouri mari.</p>
                                <p>• Un int este o unitate de informație, care poate avea 2^32 valori diferite. De la
                                    -2147483648 la 2147483647.</p>
                                <p>• Fiecare variabila primitivă are o clasă ambalaj(wrapper). Ele sunt create din cauza
                                    că colecțiile nu pot lucra cu primitivele.</p>

                            </div>
                        </div>
                        <div class="col-md-6 d-flex align-items-stretch">
                            <div class="info-wrap w-100 p-md-5 p-4 py-5 img">
                                <p>• Un long este o unitate de informație, care poate avea 2^64 valori diferite. De la
                                    -9223372036854775808 la 9223372036854775807.</p>
                                <p>• Un float este o unitate de informație, care poate avea 2^32 valori diferite. De la
                                    -3.4028235E38 la 3.4028235E38. Are o precizie de 7 cifre dupa virgula.</p>
                                <p>• Un double este o unitate de informație, care poate avea 2^64 valori diferite. De la
                                    -1.7976931348623157E308 la 1.7976931348623157E308. Are o precizie de 16 cifre dupa
                                    virgula.</p>
                                <p>• Un boolean este o unitate de informație, care poate avea doar doua valori: true sau
                                    false.</p>
                                <p>• Un char este o unitate de informație, care poate avea 2^16 valori diferite. De la 0
                                    la 65535.</p>
                                <p>• Diferența dinte float si double este, float are o precizie mai mica, dar are și
                                    ocupă o memorie mai mica. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
               <a href="https://wakatime.com/@1c67ce54-d05a-440d-87af-38b7397cfd18"><img align="center"
                                                                                         alt="Total time coded since Oct 13 2022"
                                                                                         src="https://wakatime.com/badge/user/1c67ce54-d05a-440d-87af-38b7397cfd18.svg"/></a>
           </footer>


           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
           <script src="js/cbpHorizontalMenu.min.js"></script>
           <script>
           			$(function() {
           				cbpHorizontalMenu.init();
           			});
           </script>

           </body>
           </html>