<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <a href="https://wakatime.com/@1c67ce54-d05a-440d-87af-38b7397cfd18"><img align="center"
                                                                              alt="Total time coded since Oct 13 2022"
                                                                              src="https://wakatime.com/badge/user/1c67ce54-d05a-440d-87af-38b7397cfd18.svg"/></a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/cbpHorizontalMenu.min.js"></script>
    <script>
        $(function () {
            cbpHorizontalMenu.init();
        });
    </script>
</footer>