<div class="container">
    <header class="clearfix">
    </header>
    <div class="main">
        <nav class="cbp-hrmenu" id="cbp-hrmenu">
            <ul>
                <li>
                    <a href="#">Java</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="http://localhost:7777/java"><h3 class="whiteTextOverride">General Info</h3></a></h4>
                            </div>
                            <div class="cbp-hrsub-inner">
                                <h4><a href="javaClass.html"><h3 class="whiteTextOverride">Clase</h3></a></h4>
                                <ul>
                                    <li>
                                        <h6><a href="claseVariblesMainGeneraInfo.html"><h6>Variabile</h6></a></h6>
                                    </li>
                                    <ul>
                                        <li><a href="http://localhost:7777/primitive">- Primitive</a></li>
                                        <ul>
                                            <li><a href="http://localhost:7777/bytes">•Byte</a></li>
                                        </ul>
                                        <li><a href="http://localhost:7777/referinta">- Cu referință</a></li>
                                        <ul>
                                            <li>
                                                <a href="http://localhost:7777/autoboxing">•Autoboxing/Unboxing</a>
                                            </li>
                                        </ul>
                                    </ul>
                                    <li>
                                        <h6><a href="http://localhost:7777/constructors"><h6>Constructor</h6></a></h6>
                                    </li>
                                    <li>
                                        <h6><a href="http://localhost:7777/methods"><h6>Metode</h6></a></h6>
                                    </li>
                                    <li>
                                        <h6><a href="http://localhost:7777/immutable"><h6>Clasa Imutabila</h6></a></h6>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h4>Cuvinte cheie</h4>
                                <ul>
                                    <li><a href="javaCuvantCheieStatic.html">static</a></li>
                                    <li><a href="javaCunvantCheieNULL.html">null</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="OOPGeneralInfo.html">OOP</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="OOPGeneralInfo.html"><h3 class="whiteTextOverride">Date generale</h3></a>
                                </h4>
                            </div>

                            <div>
                                <h4>Data Structure</h4>
                                <ul>
                                    <li><a href="OOPStrucDataStack.html">Stack</a></li>
                                    <li><a href="#">Queque</a></li>
                                    <li><a href="#">Heap</a></li>
                                    <li><a href="OOPStrucDataHashTable.html">HashTable</a></li>
                                    <li><a href="OOPStructDataRedBlackTree.html">Red and Black Tree</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4><a href="OOPincapsulare.html"><h3 class="whiteTextOverride">Incapsulare</h3></a>
                                </h4>
                                <ul>
                                    OOPIncapsulareModificators.html
                                    <li><a href="OOPIncapsulareGetterSetter.html">Getter & Setter</a>
                                    </li>
                                    <li><a href="OOPIncapsulareModificators.html">Modificators</a></li>


                                </ul>
                            </div>
                            <div>
                                <h4><a href="OOPMostenire.html"><h3 class="whiteTextOverride">Mostenire</h3></a></h4>
                                <ul>

                                    <li><a href="OOPMostenireInterface.html">Interface</a></li>
                                    <li><a href="OOPMostenireAbstract.html">clasa Abstracta</a></li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Collection</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="http://localhost:7777/collections"><h3 class="whiteTextOverride">Collection</h3></a>
                                </h4>
                                <ul>
                                    <li><a href="http://localhost:7777/iterables">Iterable</a></li>
                                    <ul>
                                        <li><a href="#">PriorityQueque</a></li>
                                    </ul>
                                    <li><a href="http://localhost:7777/lists">List</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/arrayLists">ArrayList</a></li>
                                        <li><a href="#">LinkedList</a></li>
                                    </ul>
                                    <li><a href="http://localhost:7777/sets">Set</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/hashsets">HashSet</a></li>
                                        <li><a href="#">LinkedHashSet</a></li>
                                        <li><a href="#">TreeSet</a></li>
                                        <li><a href="#">SoertedSet</a></li>
                                        <li><a href="#">NavigableSet</a></li>
                                    </ul>
                                </ul>
                            </div>

                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Interview</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="interviewQuestion.html"><h3 class="whiteTextOverride">Questions</h3></a>
                                </h4>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Utilits</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><h3 class="whiteTextOverride">String's</h3></a></h4>
                                <ul>
                                    <li><a href="collectionIterable.html">Convert</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/convertstringtoarrtolist">Array to List</a></li>
                                    </ul>
                                    <li><a href="collectionList.html">List</a></li>
                                    <ul>
                                        <li><a href="collectionListArrayList.html">ArrayList</a></li>
                                        <li><a href="#">LinkedList</a></li>
                                    </ul>
                                    <li><a href="collectionSet.html">Set</a></li>
                                    <ul>
                                        <li><a href="collectionHashSet.html">HashSet</a></li>
                                        <li><a href="#">LinkedHashSet</a></li>
                                        <li><a href="#">TreeSet</a></li>
                                        <li><a href="#">SoertedSet</a></li>
                                        <li><a href="#">NavigableSet</a></li>
                                    </ul>
                                </ul>

                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
            </ul>
        </nav>
    </div>
</div>