<div class="container">
    <header class="clearfix">
    </header>
    <div class="main">
        <nav class="cbp-hrmenu" id="cbp-hrmenu">
            <ul>
                <li>
                    <a href="#">Java</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4 class="whiteTextOverride">Info</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/JMMinfo">JMM</a></li>
                                    <li><a href="http://localhost:7777/GarbageCollector">Garbage collector</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Clase</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/classes">Info</a></li>
                                    <li><a href="http://localhost:7777/constructors">Constructor</a></li>
                                    <li><a href="http://localhost:7777/methods">Metode</a></li>
                                    <li><a href="http://localhost:7777/immutable">Clasa Imutabila</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Variabile</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/primitive">Primitive</a></li>
                                    <li><a href="http://localhost:7777/bytes"> --Byte</a></li>
                                    <li><a href="http://localhost:7777/referinta">Cu referinta</a></li>
                                    <li><a href="http://localhost:7777/autoboxing"> --Autoboxing/Unboxing</a></li>
                                </ul>

                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Cuvinte cheie</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/static">static</a></li>
                                    <li><a href="http://localhost:7777/null">null</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="http://localhost:7777/pooinfo">OOP</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4 class="whiteTextOverride">Date generale</h4>
                            </div>

                            <div>
                                <h4 class="whiteTextOverride">Data Structure</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/java">Info</a></li>
                                    <li><a href="http://localhost:7777/stackInfo">Stack</a></li>
                                    <li><a href="#">Queque</a></li>
                                    <li><a href="#">Heap</a></li>
                                    <li><a href="http://localhost:7777/hashTableInfo">HashTable</a></li>
                                    <li><a href="http://localhost:7777/RedBlackTreeInfo">Red and Black Tree</a></li>
                                    <li><a href="http://localhost:7777/enumInfo">Enum</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Inscapsulare</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/encapsulation">Info</a></li>
                                    <li><a href="http://localhost:7777/setterGetter">Getter & Setter</a></li>
                                    <li><a href="http://localhost:7777/modificators">Modificators</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Mostenire</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/mostenire">Info</a></li>
                                    <li><a href="http://localhost:7777/interfaceClass">Interface</a></li>
                                    <li><a href="http://localhost:7777/abstractClass">clasa Abstracta</a></li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Collection</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">

                            <div>
                                <h4 class="whiteTextOverride">List</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/lists">Info</a></li>
                                    <li><a href="http://localhost:7777/arrayLists">ArrayList</a></li>
                                    <li><a href="#">LinkedList</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Set</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/sets">Info</a></li>
                                    <li><a href="http://localhost:7777/hashsets">HashSet</a></li>
                                    <li><a href="#">LinkedHashSet</a></li>
                                    <li><a href="http://localhost:7777/treeSetInfo">TreeSet</a></li>
                                    <li><a href="#">SoertedSet</a></li>
                                    <li><a href="#">NavigableSet</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Queue</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/ququeInfo">Info</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Deque</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/dequeInfo">Info</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">Map</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/mapInfo">Info</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4 class="whiteTextOverride">SortedMap</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/sortedMapInfo">Info</a></li>
                                </ul>
                            </div>

                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="">Interview</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="http://localhost:7777/interwiev"><h3 class="whiteTextOverride">Questions</h3></a>
                                </h4>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Utilits</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><h3 class="whiteTextOverride">String's</h3></a></h4>
                                <ul>
                                    <li><a href="http://localhost:7777/iterables">Convert</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/convertstringtoarrtolist">Array to List</a></li>
                                    </ul>
                                    <li><a href="http://localhost:7777/lists">List</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/arrayLists">ArrayList</a></li>
                                        <li><a href="#">LinkedList</a></li>
                                    </ul>
                                    <li><a href="http://localhost:7777/sets">Set</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/hashsets">HashSet</a></li>
                                        <li><a href="#">LinkedHashSet</a></li>
                                        <li><a href="#">TreeSet</a></li>
                                        <li><a href="#">SoertedSet</a></li>
                                        <li><a href="#">NavigableSet</a></li>
                                    </ul>
                                </ul>

                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Practice</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                                <ul>

                                    <li><h4><a class="whiteTextOverride" href="http://localhost:7777/enumPractice">Enum</a></h4></li>

                                </ul>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Spring</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <ul>
                                <li><h4 class="whiteTextOverride" >Info</h4>
                                    <ul>
                                        <li><a href="http://localhost:7777/LyfeCycleBean">Bean Life Cycle</a></li>
                                        <li><a href="http://localhost:7777/LyfeCycleBean">OMA</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /cbp-hrsub-inner -->
                        <div class="cbp-hrsub-inner">
                            <ul>
                                <li><h4 class="whiteTextOverride" >OMA</h4>
                                    <ul>
                                        <li><a href="http://localhost:7777/OMAinfo">Info</a></li>
                                        <li><a href="http://localhost:7777/HibernateInfo">Hibernate</a></li>
                                        <li><a href="http://localhost:7777/JPAinfo">JPA</a></li>

                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /cbp-hrsub-inner -->
                        <div class="cbp-hrsub-inner">
                            <ul>
                                <li><h4><a class="whiteTextOverride" href="http://localhost:7777/iocInfo">IoC</a></h4></li>
                                <li><h4><a class="whiteTextOverride" href="-">Annotations</a></h4>
                                    <ul>
                                        <li><a href="http://localhost:7777/beanInfo">@Bean</a></li>
                                        <li><a href="http://localhost:7777/scopeInfo">@Scope</a></li>
                                        <li><a href="http://localhost:7777/configInfo">@Configuration</a></li>
                                        <li><a href="http://localhost:7777/componentInfo">@Component</a></li>
                                        <li><a href="http://localhost:7777/importInfo">@Import</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Quiz</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <ul>

                                <li><h4><a class="whiteTextOverride" href="http://localhost:7777/quiz">Start quiz</a></h4></li>
                                <li><h4><a class="whiteTextOverride" href="http://localhost:7777/getQuizScore">Scoreboard</a></h4></li>

                            </ul>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">DataBase</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                            <ul>
                                <li><h4><a class="whiteTextOverride" href="http://localhost:7777/joinInfo">Join's</a></h4></li>

                            </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride"> Operators</h4></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/countInfo">COUNT(*)</a></li>
                                        <li><a href="http://localhost:7777/groupByInfo">GROUP BY</a></li>
                                        <li><a href="http://localhost:7777/configInfo">@Configuration</a></li>
                                        <li><a href="http://localhost:7777/componentInfo">@Component</a></li>
                                        <li><a href="http://localhost:7777/importInfo">@Import</a></li>
                                    </ul>

                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride" >Structure</h4></li>
                                    <li><a href="http://localhost:7777/ADICinfo">ACID</a></li>
                                    <li><a href="http://localhost:7777/NormalFromDB">Normal form</a></li>

                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride" ></h4></li>
                                    <li><a href="http://localhost:7777/importInfo"></a></li>

                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Answer</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul>
                                    <li><h4><a class="whiteTextOverride" href="http://localhost:7777/OOPanswer">OOP</a></h4></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4><a class="whiteTextOverride"
                                               href="http://localhost:7777/joinInfo">Join's</a></h4></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4><a class="whiteTextOverride" href="http://localhost:7777/collectionAnswer">Collection</a>
                                    </h4></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">Principes </h4></li>
                                    <li><a href="http://localhost:7777/solidAnswer">SOLID</a></li>
                                    <li><a href="http://localhost:7777/kissAnswer">KISS</a></li>
                                    <li><a href="http://localhost:7777/DRYanswer">DRY</a></li>
                                    <li><a href="http://localhost:7777/YAGNIanswer">YAGNI</a></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">Patterns </h4></li>
                                    <li><a href="http://localhost:7777/GOFanswer">GoF</a></li>
                                    <li><a href="http://localhost:7777/GRASPAnswer">GRASP</a></li>

                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">Web </h4></li>
                                    <li><a href="http://localhost:7777/SOAPanswer">SOAP</a></li>
                                    <li><a href="http://localhost:7777/RESTanswer">REST</a></li>

                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><h4><a class="whiteTextOverride" href="http://localhost:7777/ExceptionAnswer">Exception</a>
                                    </h4></li>
                                </ul>
                            </div>

                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Principes</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">Solid</h4></li>
                                    <li><a href="http://localhost:7777/solidInfo">Info</a></li>
                                    <li><a href="http://localhost:7777/solidSRP">*Single Responsibility</a></li>
                                    <li><a href="http://localhost:7777/solidOCP">*Open-Close</a></li>
                                    <li><a href="http://localhost:7777/solidLSP">*Liskov Substitution</a></li>
                                    <li><a href="http://localhost:7777/solidISP">*Interface Segregation</a></li>
                                    <li><a href="http://localhost:7777/solidDIP">*Dependency Inversion</a></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">KISS </h4></li>
                                    <li><a  href="http://localhost:7777/kissInfo">info</a>
                                    </li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride" >DRY </h4></li>
                                    <li><a  href="http://localhost:7777/DRYinfo">info</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride" >YAGNI </h4></li>
                                    <li><a  href="http://localhost:7777/YAGNIinfo">info</a>
                                    </li>
                                </ul>
                            </div>

                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Patterns</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">GoF</h4></li>
                                    <li><a href="http://localhost:7777/GOFinfo">Info</a></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">GRASP </h4></li>
                                    <li><a  href="http://localhost:7777/GRASPInfo">info</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Web</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">REST</h4></li>
                                    <li><a href="http://localhost:7777/RESTinfo">Info</a></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">SOAP </h4></li>
                                    <li><a  href="http://localhost:7777/SOAPinfo">info</a>
                                    </li>
                                </ul>
                            </div>



                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">GIT</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">GIT</h4></li>
                                    <li><a href="http://localhost:7777/GITcommands">commands</a></li>
                                    <li><a href="http://localhost:7777/MergeAndRebase">merge vs rebase</a></li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="">Exception</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride">Exception</h4></li>
                                    <li><a href="http://localhost:7777/ExceptionInfo">info</a></li>
                                    <li><a href="http://localhost:7777/checkedException">check</a></li>

                                </ul>


                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
            </ul>
        </nav>
    </div>
</div>