<div class="container">
    <header class="clearfix">
    </header>
    <div class="main">
        <nav class="cbp-hrmenu" id="cbp-hrmenu">
            <ul>
                <li>
                    <a href="#">Java</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="http://localhost:7777/java"><h3 class="whiteTextOverride">General Info</h3></a></h4>
                            </div>
                            <div class="cbp-hrsub-inner">
                                <h4><a href="http://localhost:7777/classes"><h3 class="whiteTextOverride">Clase</h3></a></h4>
                                <ul>
                                    <li>
                                        <h6><a href="claseVariblesMainGeneraInfo.html"><h6>Variabile</h6></a></h6>
                                    </li>
                                    <ul>
                                        <li><a href="http://localhost:7777/primitive">- Primitive</a></li>
                                        <ul>
                                            <li><a href="http://localhost:7777/bytes">•Byte</a></li>
                                        </ul>
                                        <li><a href="http://localhost:7777/referinta">- Cu referință</a></li>
                                        <ul>
                                            <li>
                                                <a href="http://localhost:7777/autoboxing">•Autoboxing/Unboxing</a>
                                            </li>
                                        </ul>
                                    </ul>
                                    <li>
                                        <h6><a href="http://localhost:7777/constructors"><h6>Constructor</h6></a></h6>
                                    </li>
                                    <li>
                                        <h6><a href="http://localhost:7777/methods"><h6>Metode</h6></a></h6>
                                    </li>
                                    <li>
                                        <h6><a href="http://localhost:7777/immutable"><h6>Clasa Imutabila</h6></a></h6>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h4>Cuvinte cheie</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/static">static</a></li>
                                    <li><a href="http://localhost:7777/null">null</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="http://localhost:7777/pooinfo">OOP</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="http://localhost:7777/java"><h3 class="whiteTextOverride">Date generale</h3></a>
                                </h4>
                            </div>

                            <div>
                                <h4>Data Structure</h4>
                                <ul>
                                    <li><a href="http://localhost:7777/stackInfo">Stack</a></li>
                                    <li><a href="#">Queque</a></li>
                                    <li><a href="#">Heap</a></li>
                                    <li><a href="http://localhost:7777/hashTableInfo">HashTable</a></li>
                                    <li><a href="http://localhost:7777/RedBlackTreeInfo">Red and Black Tree</a></li>
                                    <li><a href="http://localhost:7777/enumInfo">Enum</a></li>
                                </ul>
                            </div>
                            <div>
                                <h4><a href="http://localhost:7777/"><h3 class="whiteTextOverride">Incapsulare</h3></a>
                                </h4>
                                <ul>
                                    <li><a href="http://localhost:7777/setterGetter">Getter & Setter</a>
                                    </li>
                                    <li><a href="http://localhost:7777/modificators">Modificators</a></li>


                                </ul>
                            </div>
                            <div>
                                <h4><a href="http://localhost:7777/mostenire"><h3 class="whiteTextOverride">Mostenire</h3></a></h4>
                                <ul>

                                    <li><a href="http://localhost:7777/interfaceClass">Interface</a></li>
                                    <li><a href="http://localhost:7777/abstractClass">clasa Abstracta</a></li>
                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Collection</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="http://localhost:7777/collections"><h3 class="whiteTextOverride">Collection</h3></a>
                                </h4>
                                <ul>
                                    <li><a href="http://localhost:7777/iterables">Iterable</a></li>
                                    <ul>
                                        <li><a href="#">PriorityQueque</a></li>
                                    </ul>
                                    <li><a href="http://localhost:7777/lists">List</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/arrayLists">ArrayList</a></li>
                                        <li><a href="#">LinkedList</a></li>
                                    </ul>
                                    <li><a href="http://localhost:7777/sets">Set</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/hashsets">HashSet</a></li>
                                        <li><a href="#">LinkedHashSet</a></li>
                                        <li><a href="http://localhost:7777/treeSetInfo">TreeSet</a></li>
                                        <li><a href="#">SoertedSet</a></li>
                                        <li><a href="#">NavigableSet</a></li>
                                    </ul>
                                </ul>
                            </div>

                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="">Interview</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><a href="http://localhost:7777/interwiev"><h3 class="whiteTextOverride">Questions</h3></a>
                                </h4>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Utilits</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <h4><h3 class="whiteTextOverride">String's</h3></a></h4>
                                <ul>
                                    <li><a href="http://localhost:7777/iterables">Convert</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/convertstringtoarrtolist">Array to List</a></li>
                                    </ul>
                                    <li><a href="http://localhost:7777/lists">List</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/arrayLists">ArrayList</a></li>
                                        <li><a href="#">LinkedList</a></li>
                                    </ul>
                                    <li><a href="http://localhost:7777/sets">Set</a></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/hashsets">HashSet</a></li>
                                        <li><a href="#">LinkedHashSet</a></li>
                                        <li><a href="#">TreeSet</a></li>
                                        <li><a href="#">SoertedSet</a></li>
                                        <li><a href="#">NavigableSet</a></li>
                                    </ul>
                                </ul>

                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Practice</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                                <ul>

                                    <li><h4><a class="whiteTextOverride" href="http://localhost:7777/enumPractice">Enum</a></h4></li>

                                </ul>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Spring</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <ul>
                                <li><h4><a class="whiteTextOverride" href="http://localhost:7777/iocInfo">IoC</a></h4></li>
                                <li><h4><a class="whiteTextOverride" href="-">Annotations</a></h4>
                                    <ul>
                                        <li><a href="http://localhost:7777/beanInfo">@Bean</a></li>
                                        <li><a href="http://localhost:7777/scopeInfo">@Scope</a></li>
                                        <li><a href="http://localhost:7777/configInfo">@Configuration</a></li>
                                        <li><a href="http://localhost:7777/componentInfo">@Component</a></li>
                                        <li><a href="http://localhost:7777/importInfo">@Import</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Quiz</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <ul>

                                <li><h4><a class="whiteTextOverride" href="http://localhost:7777/quiz">Start quiz</a></h4></li>
                                <li><h4><a class="whiteTextOverride" href="http://localhost:7777/getQuizScore">Scoreboard</a></h4></li>

                            </ul>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">DataBase</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                            <ul>
                                <li><h4><a class="whiteTextOverride" href="http://localhost:7777/joinInfo">Join's</a></h4></li>

                            </ul>
                            </div>
                            <div>
                                <ul>
                                    <li><h4 class="whiteTextOverride"> Operators</h4></li>
                                    <ul>
                                        <li><a href="http://localhost:7777/countInfo">COUNT(*)</a></li>
                                        <li><a href="http://localhost:7777/groupByInfo">GROUP BY</a></li>
                                        <li><a href="http://localhost:7777/configInfo">@Configuration</a></li>
                                        <li><a href="http://localhost:7777/componentInfo">@Component</a></li>
                                        <li><a href="http://localhost:7777/importInfo">@Import</a></li>
                                    </ul>

                                </ul>
                            </div>
                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>
                <li>
                    <a href="#">Answer</a>
                    <div class="cbp-hrsub">
                        <div class="cbp-hrsub-inner">
                            <div>
                                <ul>
                                    <li><h4><a class="whiteTextOverride" href="http://localhost:7777/OOPanswer">OOP</a></h4></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4><a class="whiteTextOverride" href="http://localhost:7777/joinInfo">Join's</a></h4></li>
                                </ul>
                            </div>

                            <div>
                                <ul>
                                    <li><h4><a class="whiteTextOverride" href="http://localhost:7777/collectionAnswer">Collection</a></h4></li>
                                </ul>
                            </div>

                        </div><!-- /cbp-hrsub-inner -->
                    </div><!-- /cbp-hrsub -->
                </li>

            </ul>
        </nav>
    </div>
</div>