<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Java Learn. Pet Project</title>
    <meta content="Blueprint: Horizontal Drop-Down Menu" name="description"/>
    <meta content="horizontal menu, microsoft menu, drop-down menu, mega menu, javascript, jquery, simple menu"
          name="keywords"/>
    <meta content="Codrops" name="author"/>
    <link href="../favicon.ico" rel="shortcut icon">
    <link href="../static/default.css" rel="stylesheet" type="text/css"/>
    <link href="../static/component.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="../static/js/modernizr.custom.js"></script>

</head>
<body>
            <div class="container">
                <header class="clearfix">
                </header>
                <div class="main">
                    <nav class="cbp-hrmenu" id="cbp-hrmenu">
                        <ul>
                            <li>
                                <a href="#">Java</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="java.html"><h3 class="whiteTextOverride">General Info</h3></a></h4>
                                        </div>
                                        <div class="cbp-hrsub-inner"> <h4><a href="javaClass.html"><h3 class="whiteTextOverride">Clase</h3></a></h4>
                                            <ul>
                                                <li><h6><a href="claseVariblesMainGeneraInfo.html"><h6>Variabile</h6></a></h6></li>
                                                <ul>
                                                    <li><a href="claseVariabilePrimitive.html">- Primitive</a></li>
                                                    <ul>
                                                        <li><a href="claseVariabilePrimitiveByte.html">•Byte</a></li>
                                                    </ul>
                                                    <li><a href="clasVariabileReferinta.html">- Cu referință</a></li>
                                                    <ul>
                                                        <li><a href="claseVariabileReferintaAutoBox_Unbox.html">•Autoboxing/Unboxing</a></li>
                                                    </ul>
                                                </ul>
                                                <li><h6><a href="classConstructor.html"><h6>Constructor</h6></a></h6></li>
                                                <li><h6><a href="claseMetode.html"><h6>Metode</h6></a></h6></li>
                                                <li><h6><a href="classImmutableClass.html"><h6>Clasa Imutabila</h6></a></h6></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4>Cuvinte cheie</h4>
                                                <ul>
                                                    <li><a href="javaCuvantCheieStatic.html">static</a></li>
                                                    <li><a href="javaCunvantCheieNULL.html">null</a></li>
                                                </ul>
                                            </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="OOPGeneralInfo.html">OOP</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="OOPGeneralInfo.html"><h3 class="whiteTextOverride">Date generale</h3></a>
                                            </h4>
                                        </div>

                                        <div>
                                            <h4>Data Structure</h4>
                                            <ul>
                                                <li><a href="OOPStrucDataStack.html">Stack</a></li>
                                                <li><a href="#">Queque</a></li>
                                                <li><a href="#">Heap</a></li>
                                                <li><a href="OOPStrucDataHashTable.html">HashTable</a></li>
                                                <li><a href="OOPStructDataRedBlackTree.html">Red and Black Tree</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4><a href="OOPincapsulare.html"><h3 class="whiteTextOverride">Incapsulare</h3></a></h4>
                                            <ul>
                                              OOPIncapsulareModificators.html
                                                   <li><a href="OOPIncapsulareGetterSetter.html">Getter & Setter</a>
                                                   </li><li><a href="OOPIncapsulareModificators.html">Modificators</a></li>


                                               </ul>
                                        </div>
                                        <div>
                                               <h4><a href="OOPMostenire.html"><h3 class="whiteTextOverride">Mostenire</h3></a></h4>
                                               <ul>

                                                   <li><a href="OOPMostenireInterface.html">Interface</a></li>
                                                   <li><a href="OOPMostenireAbstract.html">clasa Abstracta</a></li>
                                               </ul>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#">Collection</a>
                                                    <div class="cbp-hrsub">
                                                        <div class="cbp-hrsub-inner">
                                                            <div>
                                                                <h4><a href="collection.html"><h3 class="whiteTextOverride">Collection</h3></a>
                                                                </h4>
                                                                        <ul>
                                                                            <li><a href="collectionIterable.html">Iterable</a></li>
                                                                            <ul>
                                                                                <li><a href="#">PriorityQueque</a></li>
                                                                            </ul>
                                                                            <li><a href="collectionList.html">List</a></li>
                                                                            <ul>
                                                                                <li><a href="collectionListArrayList.html">ArrayList</a></li>
                                                                                <li><a href="#">LinkedList</a></li>
                                                                            </ul>
                                                                            <li><a href="collectionSet.html">Set</a></li>
                                                                            <ul>
                                                                                <li><a href="collectionHashSet.html">HashSet</a></li>
                                                                                <li><a href="#">LinkedHashSet</a></li>
                                                                                <li><a href="#">TreeSet</a></li>
                                                                                <li><a href="#">SoertedSet</a></li>
                                                                                <li><a href="#">NavigableSet</a></li>
                                                                            </ul>
                                                                        </ul>
                                                            </div>

                                                        </div><!-- /cbp-hrsub-inner -->
                                                    </div><!-- /cbp-hrsub -->
                                                </li>
                                                <li>
                                <a href="#">Interview</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="interviewQuestion.html"><h3 class="whiteTextOverride">Questions</h3></a>
                                            </h4>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#">Utilits</a>
                                 <div class="cbp-hrsub">
                                     <div class="cbp-hrsub-inner">
                                          <div>
                                              <h4><h3 class="whiteTextOverride">String's</h3></a></h4>
                                              <ul>
                                                 <li><a href="collectionIterable.html">Convert</a></li>
                                                    <ul>
                                                        <li><a href="convertStringArrToList.html">Array to List</a></li>
                                                    </ul>
                                                    <li><a href="collectionList.html">List</a></li>
                                                    <ul>
                                                        <li><a href="collectionListArrayList.html">ArrayList</a></li>
                                                        <li><a href="#">LinkedList</a></li>
                                                    </ul>
                                                    <li><a href="collectionSet.html">Set</a></li>
                                                    <ul>
                                                        <li><a href="collectionHashSet.html">HashSet</a></li>
                                                        <li><a href="#">LinkedHashSet</a></li>
                                                        <li><a href="#">TreeSet</a></li>
                                                        <li><a href="#">SoertedSet</a></li>
                                                        <li><a href="#">NavigableSet</a></li>
                                                    </ul>
                                                    </ul>

                                          </div>
                                     </div><!-- /cbp-hrsub-inner -->
                                 </div><!-- /cbp-hrsub -->
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Intrebări pentru interview</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">De ce Java este un limbaj care poate lucra pe orce
                                platform?</font></h3>
                            <a href="java.html#1question">Pentru ca este un limbaj cross-platforma.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">De ce Java nu se socoate 100% orientata pe obiecte?</font>
                            </h3>
                            <a href="claseVariabilePrimitive.html#variabile_primitive">Pentru ca are variabile
                                primitive.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Ce-i asta autoboxing/unboxing? </font></h3>
                            <a href="claseVariabileReferintaAutoBox_Unbox.html">Atribuirea automata al variabilelor
                                primitive la calse
                                wrapper.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Care este diferența dintre o metodă și un
                                <a href="classConstructor.html">constructor</a>. </font></h3>
                            <p><a href="classConstructor.html">Constructorul</a> participă la crearea instanței, pe când
                                metoda reprezintă o
                                instrucțiune. </p>
                            <p><a href="classConstructor.html">Constructorul</a> obligatoriu are denumirea ca și clasa.
                                Metoda are ori ce denumire.</p>
                            <p> Metodele pot fi suprascrise și supraâncărcate, pe cănd <a href="classConstructor.html">constructorul</a>
                                poate fi doar
                                supraâncărcat.
                                Nu este sens să-l suprascrim, suprascrierea se face la metodele moștenite, dar
                                <a href="classConstructor.html">constructorul</a> prea
                                conportamentul de la <a href="classConstructor.html">constructorul</a> superclasei și
                                java, nu ne va permite să-l
                                suprascrim.</p>
                            <p><a href="classConstructor.html">constructorul</a> apelează prin operatorul "new",
                                metodele dacă sunt statice, prin denumirea
                                clase,
                                dacă nu, prin instansul obiectului.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Va fi apelat <a
                                    href="classConstructor.html">constructorul</a> superclasei când este creat obiectul
                                moștenit. </font></h3>
                            <p> Da.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Ce este incapsularea? </font></h3>
                            <a href="OOPincapsulare.html">Un pilon al POO.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Putem o pentru this sa setam null?</font></h3>
                            <p> Nu, deoarece obietul nu poate să-și piarda referința la el însuși </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Care este diferenta dintre interface si clasa <a
                                    href="OOPMostenireAbstract.html">abstracta</a>?</font></h3>
                            <p>Clasa <a href="OOPMostenireAbstract.html">abstracta</a> poate avea variabile, <a
                                    href="classConstructor.html">constructor</a> pentru aceste variabile, metode
                                implementate sau metode abstracte.</p>
                            <p>In interfate sunt metode care obligatoriu vor vi implementate in clase care va implementa
                                interfata.</p>

                            <p>Metodele in <a href="OOPMostenireInterface.html">interfata</a> sunt numai publice</p>
                            <p>Metodele in clase <a href="OOPMostenireAbstract.html">abstracta</a> sunt cu toate tipuri
                                de <a href="OOPIncapsulareModificators.html">modificatpor</a>.</p>

                            <p><a href="OOPMostenireInterface.html">Interfata</a> reprezinta o abilitate.
                                Clasa abstracta reprezint o stare a obiectului.</p>

                            <p>Clasa <a href="OOPMostenireAbstract.html">abstracta</a> este mostenita de acelasi tip de
                                obiecte.
                                De ex: tipuri de masine, sedan, coupe ect.
                                Interfatele pot fi implementate de diferite tipuri de obiect.
                                De ex: a merge, a zbura ect.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Cand avem posibilitatea de a folosi si <a
                                    href="OOPMostenireInterface.html">interfata</a> si clasa <a
                                    href="OOPMostenireAbstract.html">abstracta</a>, ce vom alege?</font></h3>
                            <p>Vom alege <a href="OOPMostenireInterface.html">interfata</a>, deoarece <a
                                    href="OOPMostenireInterface.html">interfata</a> reprezinta un contract care se va
                                realiza in orce caz, deoarece are
                                metoda cu <a href="OOPIncapsulareModificators.html">modificatorul</a> <a
                                        href="OOPIncapsulareModificators.html">public</a>, pe cand in clase abstracte,
                                metodele pot avea toate tipurile, ce nu garanteaza ca vom putea realiza metoda in orice
                                loc al proeictului.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Care este diferenta dintre HashSet si <a
                                    href="collectionTreeSet.html">TreeSet</a></font></h3>
                            <p>Unda dintre diferente este ca au diferite structuri de date, una are <a
                                    href="OOPStrucDataHashTable.html">HashTable?</a>, alta are RedBlackWhite.</p>
                            <p>Alta diferenta este in timpul de realizare a operatiilor, HashSet este mai
                                rapid(constanta), <a href="collectionTreeSet.html">TreeSet</a> este mai
                                lent(Logarifmica).</p>
                            <p>Alta diferenta este ca <a href="collectionTreeSet.html">TreeSet</a> pastreaza elementele
                                in ordine, HashSet nu.</p>
                            <p>In hashSet putem avea null, in <a href="collectionTreeSet.html">TreeSet</a> nu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Cum se compara obiectele in <a
                                    href="collectionHashSet.html">HashSet</a>?</font></h3>
                            <p>Cu ajutorul metodei equals si hashCode, le aranjam in lista pentru a le putea accesa in
                                timp constant.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Poate <a href="collectionTreeSet.html">TreeSet</a> avea
                                null?</font></h3>
                            <p>Nu, deoarece in <a href="collectionTreeSet.html">TreeSet</a> elementele sunt sortate si
                                in cazul dat,
                                seface comparatie intre obiecte, si daca se face comparatie cu null, atunci se arunca
                                exceptie.
                                <a href="collectionTreeSet.html">TreeSet</a> este de tip homogeneous objects.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Ce fel de metode se folosesc pentru sortare si comparare
                                obiectelor <a href="collectionTreeSet.html">TreeSet</a>?</font></h3>
                            <p>Putem sa folosim interfata Comparable, care are 2 metode, compare so compare to. Daca nu
                                folosim interfata Comparable, atunci se foloseste natural-ordering.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Ce este JRE?</font></h3>
                            <p>JRE este Java Runtime Environment, este un mediu de executie pentru a rula aplicatii
                                Java.</p>
                            <p>Se foloseste pentru a rula aplicatii deja gata.</p>
                            <p>Pe
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Ce este JDK?</font></h3>
                            <p>JDK contine: JRE, compilator Java, intrumente pentru dezvoltare. </p>
                            <p>Se foloseste pentru a dezvolta aplicatii Java.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Cum de procedat cand avem de lucrat cu o parola si cum sa ne
                                asiguram ca in heap nu a ramas parola?</font></h3>
                            <p>Putem parola sa o inscrim intr-un char array si dupa ce am termita de lucru cu parola,
                                in char array putem schimba valorile in care vrem, deoarece char array nu este mutabil
                                in comparatie cu String. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Care este diferenta intre HashMap si <a
                                    href="OOPStrucDataHashTable.html">HashTable?</a>?</font></h3>
                            <p>In <a href="OOPStrucDataHashTable.html">HashTable</a> nu poate sa salva null, toate
                                metodele sunt sincronizate din cauza data ea lucreaza mai lent. </p>
                            <p><a href="OOPStrucDataHashTable.html">HashTable</a> nu este recomandata pentru folosinta,
                                este invechita, mai bine de folosit HashMap </p>
                            <p>Daca avem nevoie de a folosi pentru paralelism putem folosi ConcurrentHashMap</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Cum putem crea o <a href="classImmutableClass.html">clasa
                                immutable?</a></font></h3>
                            <img class="center" alt=""
                                 src="../../../../photo/interviewPractice/1.png" ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                            <h3 class="mb-4"><font size="3">Ce o safiseze in codul de mai jos?</h3>
                            <img class="center" alt=""
                                 src="../../../../photo/interviewPractice/img_1.png" ">
                            <p>Raspuns:</p>
                            <p>Se va afisa "Not Equal", deoarece char daca sunt obiecte diferite, ele se adreseaza la
                                aceleiasi referinta din heap</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
               <a href="https://wakatime.com/@1c67ce54-d05a-440d-87af-38b7397cfd18"><img align="center"
                                                                                         alt="Total time coded since Oct 13 2022"
                                                                                         src="https://wakatime.com/badge/user/1c67ce54-d05a-440d-87af-38b7397cfd18.svg"/></a>
           </footer>

           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
           <script src="../static/js/cbpHorizontalMenu.min.js"></script>
           <script>
           			$(function() {
           				cbpHorizontalMenu.init();
           			});
           </script>

           </body>
           </html>
