<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>LearnJava</title>
    <div th:replace="fragments/header.html"></div>

</head>
<body>
<div th:replace="fragments/menu.html"></div>

<div th:replace="fragments/section.html :: section(categories = ${categories1}, title = ${title1}, description = ${description1})"></div>
<div th:replace="fragments/section.html :: section(categories = ${categories2}, title = ${title2}, description = ${description2})"></div>

<div th:replace="fragments/footer.html"></div>
</body>
</html>
