<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Java Learn. Pet Project</title>
    <meta content="Blueprint: Horizontal Drop-Down Menu" name="description"/>
    <meta content="horizontal menu, microsoft menu, drop-down menu, mega menu, javascript, jquery, simple menu"
          name="keywords"/>
    <meta content="Codrops" name="author"/>
    <link href="../favicon.ico" rel="shortcut icon">
    <link href="css/default.css" rel="stylesheet" type="text/css"/>
    <link href="css/component.css" rel="stylesheet" type="text/css"/>
    <script src="js/modernizr.custom.js"></script>

</head>
<body>
            <div class="container">
                <header class="clearfix">
                </header>
                <div class="main">
                    <nav class="cbp-hrmenu" id="cbp-hrmenu">
                        <ul>
                            <li>
                                <a href="#">Java</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="java.html"><h3 class="whiteTextOverride">General Info</h3></a></h4>
                                        </div>
                                        <div class="cbp-hrsub-inner"> <h4><a href="javaClass.html"><h3 class="whiteTextOverride">Clase</h3></a></h4>
                                            <ul>
                                                <li><h6><a href="claseVariblesMainGeneraInfo.html"><h6>Variabile</h6></a></h6></li>
                                                <ul>
                                                    <li><a href="claseVariabilePrimitive.html">- Primitive</a></li>
                                                    <ul>
                                                        <li><a href="claseVariabilePrimitiveByte.html">•Byte</a></li>
                                                    </ul>
                                                    <li><a href="clasVariabileReferinta.html">- Cu referință</a></li>
                                                    <ul>
                                                        <li><a href="claseVariabileReferintaAutoBox_Unbox.html">•Autoboxing/Unboxing</a></li>
                                                    </ul>
                                                </ul>
                                                <li><h6><a href="classConstructor.html"><h6>Constructor</h6></a></h6></li>
                                                <li><h6><a href="claseMetode.html"><h6>Metode</h6></a></h6></li>
                                                <li><h6><a href="classImmutableClass.html"><h6>Clasa Imutabila</h6></a></h6></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4>Cuvinte cheie</h4>
                                                <ul>
                                                    <li><a href="javaCuvantCheieStatic.html">static</a></li>
                                                    <li><a href="javaCunvantCheieNULL.html">null</a></li>
                                                </ul>
                                            </div>
                                    </div>
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="OOPGeneralInfo.html">OOP</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="OOPGeneralInfo.html"><h3 class="whiteTextOverride">Date generale</h3></a>
                                            </h4>
                                        </div>

                                        <div>
                                            <h4>Data Structure</h4>
                                            <ul>
                                                <li><a href="OOPStrucDataStack.html">Stack</a></li>
                                                <li><a href="#">Queque</a></li>
                                                <li><a href="#">Heap</a></li>
                                                <li><a href="OOPStrucDataHashTable.html">HashTable</a></li>
                                                <li><a href="OOPStructDataRedBlackTree.html">Red and Black Tree</a></li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h4><a href="OOPincapsulare.html"><h3 class="whiteTextOverride">Incapsulare</h3></a></h4>
                                            <ul>
                                              OOPIncapsulareModificators.html
                                                   <li><a href="OOPIncapsulareGetterSetter.html">Getter & Setter</a>
                                                   </li><li><a href="OOPIncapsulareModificators.html">Modificators</a></li>


                                               </ul>
                                        </div>
                                        <div>
                                               <h4><a href="OOPMostenire.html"><h3 class="whiteTextOverride">Mostenire</h3></a></h4>
                                               <ul>

                                                   <li><a href="OOPMostenireInterface.html">Interface</a></li>
                                                   <li><a href="OOPMostenireAbstract.html">clasa Abstracta</a></li>
                                               </ul>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>
                            <li>
                                <a href="#">Collection</a>
                                                    <div class="cbp-hrsub">
                                                        <div class="cbp-hrsub-inner">
                                                            <div>
                                                                <h4><a href="collection.html"><h3 class="whiteTextOverride">Collection</h3></a>
                                                                </h4>
                                                                        <ul>
                                                                            <li><a href="collectionIterable.html">Iterable</a></li>
                                                                            <ul>
                                                                                <li><a href="#">PriorityQueque</a></li>
                                                                            </ul>
                                                                            <li><a href="collectionList.html">List</a></li>
                                                                            <ul>
                                                                                <li><a href="collectionListArrayList.html">ArrayList</a></li>
                                                                                <li><a href="#">LinkedList</a></li>
                                                                            </ul>
                                                                            <li><a href="collectionSet.html">Set</a></li>
                                                                            <ul>
                                                                                <li><a href="collectionHashSet.html">HashSet</a></li>
                                                                                <li><a href="#">LinkedHashSet</a></li>
                                                                                <li><a href="#">TreeSet</a></li>
                                                                                <li><a href="#">SoertedSet</a></li>
                                                                                <li><a href="#">NavigableSet</a></li>
                                                                            </ul>
                                                                        </ul>
                                                            </div>

                                                        </div><!-- /cbp-hrsub-inner -->
                                                    </div><!-- /cbp-hrsub -->
                                                </li>
                                                <li>
                                <a href="#">Interview</a>
                                <div class="cbp-hrsub">
                                    <div class="cbp-hrsub-inner">
                                        <div>
                                            <h4><a href="interviewQuestion.html"><h3 class="whiteTextOverride">Questions</h3></a>
                                            </h4>
                                        </div>
                                    </div><!-- /cbp-hrsub-inner -->
                                </div><!-- /cbp-hrsub -->
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
<section class="ftco-section">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6 text-center mb-5">
                      <h2 id="hashtable" class="heading-section">HashTable</h2>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-10">
                      <div class="wrapper">
                          <div class="row no-gutters">
                              <div class="contact-wrap w-100 p-md-5 p-4 py-5">
<p>Este o structura de date abstracta, inseamna ca nu are un model standatizat de implementare, implementarea depinde de in mare parte de limbajul de programare.</p>
<p>HashTable este o colectie de date care stocheaza perechi de cheie si valoare.</p>
<p>Este posibila introducerea valorii null pentru cheie sau valoare.</p>
<p>Un exemplar are 2 parametri, care afecteaza performanta, acesti parametri sunt: initialCapacity si loadFactor.</p>
<ul>
    <li>initialCapacity - capacitatea initiala a tabelei hash.</li>
    <li>loadFactor - factorul de incarcare al tabelei hash. De baza este 0.75.</li>
</ul>

<p>La intrare in HashTable se transmite chesi si valoarea. Valoarea se vor stoca intr-un array care se va crea la initializare,
se trec prin hash-functie, care pe urma in alta functie se transforma in index din array</p>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
           <section class="ftco-section">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-6 text-center mb-5">
                      <h2 class="heading-section">Hash functie</h2>
                  </div>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-10">
                      <div class="wrapper">
                          <div class="row no-gutters">
                              <div class="contact-wrap w-100 p-md-5 p-4 py-5">
                              <p> In exemplul dat avem cheie de tip string, se aduna toate codurile ale caracterilor
                              si se imparte la capacitatea initiala a tabelei hash si se ea restul ca index .</p>
                                <p>In cazul ca avem o cheie de tip int, putem doar sa folosim acest int ca index.</p>
                                  <img class="center zoom" alt="" src="../../../../photo/hashTable/img.png" ">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <section class="ftco-section">
          <div class="container">
              <div class="row justify-content-center">
                <p>Coleziune</p>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-10">
                      <div class="wrapper">
                          <div class="row no-gutters">
                              <div class="contact-wrap w-100 p-md-5 p-4 py-5">

<p>hashcode = key.hashCode() % table.length</p>
                 <p>hashcode = 213124%100=24</p>
                 <p>Dupa formula de mai sus, este probabilitatea ca 2 chei sa aiba acelasi index, numita colizie</p>
                 <ul>Sunt 2 tipuri de coleziuni:
                     <li>open addressing</li>
                     <p>in cazul dat se cauta de la stanga la dreapta in hashtable, pana cand se gaseste o celula goala</p>
                     <p>Exemplu:</p>
                     In exemplul dat avem index-ul deja ocupat. Se va cauta cea mai apropiata celula goala si se va adauga acolo.
                      <img class="center zoom" alt="" src="../../../../photo/hashTable/img_1.png" ">
                      <p>Daca dorim sa stergem un element, celula de unde a fost sters va fi marcat ca goala.
                      Si cand vom face cautarea pentru un element, vom trece peste acele celule marcate "goala". Dar cand vom adauga un element, celulele marcate "goala" vor fi folosite.</p>
                      <p>
                      <p>Daca sau acumulat multe celule "goale", atunci performanta va fi scazuta. Si pentru a rezolva aceasta problema, se va face rehashing.
                      Adica se va crea o noua tabela hash, cu o capacitate mai mare, si se vor muta toate elementele in noua tabela hash.</p>
                      <p>Plusuri ale open addressing:</p>
                        <ul>
                            <li>Parcurgerea rapida, deoarece sunt plasate aproape unul de altul in memorie.</li>
                            <li>Se foloseste mai pitina memorie, din cauza ca nu sunt folosite pointeri.</li>

                        </ul>
                      <p>Minusuri ale open addressing:</p>
                        <ul>
                            <li>Cautarea, adaugarea si stergerea depind de modul de parcurs al tabelei hash.</li>
                            <li>Depinde de marimea tabelei. Daca vom folosi mic, avem  o performanta mai buna,
                            dar este riscul sa nu ajunca, dar daca vom folosi mare, avem o performanta mai mica.</li>
                        </ul>

                     <li>separate chaining</li>
                     <p>elementul se adauga in celula, ast fel se creaza o lista linkata in celula</p>
                     <p>Exemplu:</p>
                     <img class="center zoom" alt="" src="../../../../photo/hashTable/img_2.png" ">
                     <p>In cazul dat in celula se salveaza referinta la obiectul de tip Node, care contine cheia si valoarea.</p>
                     <p>Daca in indexul deja exista un element, se va adauga in lista linkata.</p>
                     <p>Plusuri ale separate chaining:</p>
                        <ul>
                            <li>Realizare mai simpla. Mai putine niunsuri care pot duce la distabilizare a lucrului hashTable.</li>

                        </ul>
                      <p>Minusuri ale separate chaining:</p>
                        <ul>
                            <li>Se foloseste memorie adaugatoare, din cauza pointerilor.</li>
                            <li>Parcurgere lenta, deoarece elementele stau in parti diferite ale memoriei</li>
                        </ul>
                 </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <section class="ftco-section">
          <div class="container">
              <div class="row justify-content-center">
                <p>Cautarea/stergerea elementului</p>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-10">
                      <div class="wrapper">
                          <div class="row no-gutters">
                              <div class="contact-wrap w-100 p-md-5 p-4 py-5">

<p>Cautarea in hashtable:</p>
<p>se hasueste keya si se cauta dupa index, se verifica daca keya este egala cu keya din hashtable,
in cazul in care keya nu corespunde, se cauta urmatoarea celula goala, pana se gaseste obiectul
,in cazul in care nu se gaseste keya corespunzatoare, inseamna ca obiectul nu exista.
In cazul cand stergem din hashtable, se cauta keya si se sterge obiectul corespunzator.
Celula care a fost stearsa, se marcheaza ca goala.</p>

                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <section class="ftco-section">
          <div class="container">
              <div class="row justify-content-center">
                <p>
                Hashuierea </p>
              </div>
              <div class="row justify-content-center">
                  <div class="col-lg-10">
                      <div class="wrapper">
                          <div class="row no-gutters">
                              <div class="contact-wrap w-100 p-md-5 p-4 py-5">

                               <ul>
                               <li>Hash-codu pentru String: se ia valoarea ascii a fiecarui caracter si se aduna</li>
                               <li>Hash-codu pentru Integer: se ia valoarea integer-ului</li>
                               <li>Hash-codul pentru obiecte: se ea toate campurile obiectului si se ia hashcode-ul fiecarui camp si se aduna, pentru
                               a nu avea colizii,  fiecare canm se inmulteste la un numar impar, mai des 31</li>
                               </ul>

                               <p>O hash function trebuie sa indeplineasca urmatoarele conditii:</p>
                               <ul>
                               <li>Pentru una si aceiasi cheie, hash function trebuie sa returneze aceelasi index</li>
                                  <li>Pentru doua chei diferite, hash function trebuie sa returneze indexe diferite, astfel incat sa nu se produca coliziuni</li>
                                    <li>Hash function trebuie sa fie rapida, adica sa nu fie prea complexa, pentru a nu afecta performanta</li>
                                    <li>Hash function trebuie sa nu returneze index care sa depaseasca capacitatea tabelei</li>

                               </ul>


                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
<footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
               <a href="https://wakatime.com/@1c67ce54-d05a-440d-87af-38b7397cfd18"><img align="center"
                                                                                         alt="Total time coded since Oct 13 2022"
                                                                                         src="https://wakatime.com/badge/user/1c67ce54-d05a-440d-87af-38b7397cfd18.svg"/></a>
           </footer>

           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
           <script src="js/cbpHorizontalMenu.min.js"></script>
           <script>
           			$(function() {
           				cbpHorizontalMenu.init();
           			});
           </script>

           </body>
           </html>
